.List-root{
    background-color: #191f36;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
}
h2{
    margin: 0;
}
.event-main{
    width: 80%;
    background-color: blue;
    display: flex;
    flex-direction: row;
}
.platform-logo{
    width: 100px;
    margin: auto 0;
}
.platform-logo img{
    width: 50%;
    
}